html, body {
    background: url("../img/bg/falegname.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 16px;
    font-family: 'Lato', sans-serif;

height: 100%;
}

* {    
    margin: 0px;
    padding: 0px;
    border: none;
}

a, a:visited, a:hover, a:active, a:link {
        text-decoration: none;
        outline:0;
        color:#ffffff;

}

a:hover{
    text-decoration: underline !important;
}


#container {
    
    margin-top: 0px; /*da dove inizia il container*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height:100%;
    min-width: 600px;
    width: 80%;
    display: table;
}

header {
    margin-bottom: 20px;
    background-image: url("../img/texture/dust.png");
    background-color: #ffffff;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom:1px solid black;
    border-right:1px solid black;
    border-left:1px solid black;
}

nav {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    text-align: right;
    height: 40px;
    width: 100%;
    line-height:30px;
    z-index: 100;    
    
}

#nav {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    left: 10%;

    
}   
 

#nav ul {
    position:absolute;
    left:0;
    display:none;
    margin:0 0 0 -1px;
    padding:0;
    list-style:none;
    
}


#nav li {
    
    float: left;
    display:block;
    width:25%;
    height: 40px;
    position:relative;
    z-index:500;
    margin:0 3px;
    
}

/*Titoli Menu*/
#nav > li > a{
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
    font-size:18px;
}

#nav > li:hover{
    border-top:3px solid #666;
        
}

#nav li a {
    display:block;
    padding:8px 5px 0 5px;
    font-weight:700;
    height:23px;
    text-decoration:none;
    text-align:center;
    color:#000000;
    
    
}
#nav li a:hover {
    color:#C00;
}

#nav li li:hover {
    -webkit-transform: translate(+10px,0); //di quanto sposto i menu
}

#nav ul li {
    width:300px;
    float:left;
    border:1px solid #666;
    background-color: #ffffff;
    
}

li#firstSub{
    margin-top: 14px;
   -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li#lastSub{
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#nav ul a {
    display:block;
    height:auto;
    padding: 8px 5px;
    color:#666;
}
/* fix ie6, meglio inserirlo in un file .css separato */
*html #nav ul {
    margin:0 0 0 -2px;
}


article {
    
    width:100%;
    height: 70%;
    position:absolute;
    bottom:90px;
    left:0;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff;

}

article p{
    
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;
}

article h1{
    margin-top: 360px;
    font-size: 30px;
}

footer {
   
    text-align: center;
    color: #fff;
    font-size: 12px;
    width:100%;
    height: 70px;
    position:absolute;
    bottom:0;
    left:0;
}

footer p{
    
    vertical-align: middle;
    line-height: 30px;   
}
#map{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  footer{    /* hide it elsewhere */
      display: none; 
  }
  
  
  article p{
    
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
}

    article h1{
        margin-top: 100px;
        font-size: 30px;
    }
}
