html, body {

    background-image: url("../img/bg/bg.jpg");
    font-size: 16px;
    font-family: 'Lato', sans-serif;

    -webkit-box-shadow: inset 0px -250px 200px 0px #000;
    -moz-box-shadow: inset 0px -250px 200px 0px #000;
    box-shadow: inset 0px -250px 200px 0px #000;
    color:black;
    
}

* {    
    margin: 0px;
    padding: 0px;
    border: none;
}

a, a:visited, a:hover, a:active, a:link {
        text-decoration: none;
        outline:0;
        color:#ffffff;

}
a:hover{
    text-decoration: underline !important;
}

#container {
    position:relative;
    min-width: 600px;
    min-height:100%;
    margin-top: 0px; /*da dove inizia il container*/
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

header {
    margin-bottom: 20px;
    background-image: url("../img/texture/dust.png");
    background-color: #ffffff;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom:1px solid black;
    border-right:1px solid black;
    border-left:1px solid black;
}

nav {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    text-align: right;
    height: 40px;
    width: 100%;
    line-height:30px;
    z-index: 100;    
    
}

#nav {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    left: 10%;
}   
 

#nav ul {
    position:absolute;
    left:0;
    display:none;
    margin:0 0 0 -1px;
    padding:0;
    list-style:none;
}


#nav li {
    float:left;
    display:block;
    width:25%;
    height: 40px;
    position:relative;
    z-index:500;
    margin:0 3px;
}

/*Titoli Menu*/
#nav > li > a{
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
    font-size:18px;
}

#nav > li:hover{
    border-top:3px solid #666;
        
}

#nav li a {
    display:block;
    padding:8px 5px 0 5px;
    font-weight:700;
    height:23px;
    text-decoration:none;
    text-align:center;
    color:#000000;
    
    
}
#nav li a:hover {
    color:#C00;
}

#nav li li:hover {
    -webkit-transform: translate(+10px,0); //di quanto sposto i menu
}

#nav ul li {
    width:300px;
    float:left;
    border:1px solid #666;

    
    background-color: #ffffff;
    
}

li#firstSub{
    margin-top: 14px;
   -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li#lastSub{
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#nav ul a {
    display:block;
    height:auto;
    padding: 8px 5px;
    color:#666;
}
/* fix ie6, meglio inserirlo in un file .css separato */
*html #nav ul {
    margin:0 0 0 -2px;
}


article {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 200px;
    
    /*position: absolute;
    top:60px;
    left:0;*/
    
    margin-bottom: 70px;
    background-image: url("../img/texture/dust.png");
    background-color: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    -webkit-box-shadow: 3px 3px 5px 0px rgba(107,78,46,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(107,78,46,0.75);
    box-shadow: 3px 3px 5px 0px rgba(107,78,46,0.75);
    
}

article a, article a:visited, article a:hover, article a:active, article a:link {
        text-decoration: none;
        outline:0;
        color:#000;

}
section{
    overflow: hidden;
    
    text-align: center;
    padding:30px 120px 30px 120px;
    
    text-align: left;
}
section > div{
    width: 300px;
    position: relative;
    
    float: left;
    
  
}
div.rightPic{
    margin-left: 190px;
}

img.pic1{
    z-index: 10;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
}

img.pic1:hover{
    z-index: 10;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

img.pic2{
    z-index: 10;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

img.pic2:hover{
    z-index: 10;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

img.pic3{
    z-index: 10;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
}

img.pic3:hover{
    z-index: 10;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

img.pic4{
    z-index: 10;
    -webkit-transform: rotate(11deg);
    -moz-transform: rotate(11deg);
}

img.pic4:hover{
    z-index: 10;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
}


img.pic5{
    z-index: 10;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
}

img.pic5:hover{
    z-index: 10;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

img.pic6{
    z-index: 10;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
}

img.pic6:hover{
    z-index: 10;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

section div img{
    
    /*float: left;*/
    padding: 10px 10px 30px 10px;
    margin: 3px 30px 30px 5px;
    background: #eee;
    border: 1px solid #fff;
    -moz-box-shadow: 0px 2px 15px #333;
    margin-left: auto;
    margin-right:auto;
}

section div p{
    font-size: 18px;
    margin: 30px;
    
}

footer {

    text-align: center;
    color: #fff;
    font-size: 12px;
    width:100%;
    height: 70px;
}

footer p{
    vertical-align: middle;
    line-height: 30px;
}

td.info{
    padding-right: 20px;
    height: 50px;
     
}

table{
    margin-top: 20px;
    margin-bottom:80px;
}

form{
    margin-top: 40px;
    float: left;
    clear: both;
    letter-spacing: 2px;
}

form input, form textArea {
    margin: 10px 20px 20px 0;
    height: 40px;
    width: 450px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(107,78,46,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(107,78,46,1);
    box-shadow: 3px 3px 5px 0px rgba(107,78,46,1);
    border: 2px solid #634b30;
    font-size: 22px;
}

*:focus{
      outline: none;
}

form textArea{
    height: 150px;
    font-size: 18px;
}


.myButton {        
         width: 100px;
        float: right;
	-moz-box-shadow:inset 0px 0px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 0px 0px 0px #a6827e;
	box-shadow:inset 0px 0px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:10px 10px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.myButton:active {
	position:relative;
	top:1px;
}

form input[type="submit"]:active, form input[type="reset"]:active {
	position:relative;
	top:1px;
}

form input[type="submit"]:active, form input[type="reset"]:active {
	position:relative;
	top:1px;
}


strong{
    font-size: 27px;
    
}

span.req{
    color: #C00;
    
}