html, body {
    background-image: url("../img/texture/wood.jpg");
    /*background-image: url("../img/bg/bg.jpg");*/
    font-size: 16px;
    font-family: 'Lato', sans-serif;

    -webkit-box-shadow: inset 0px -250px 200px 0px #000;
    -moz-box-shadow: inset 0px -250px 200px 0px #000;
    box-shadow: inset 0px -250px 200px 0px #000;
    color:white;
    
}

* {    
    margin: 0px;
    padding: 0px;
    border: none;
}

a, a:visited, a:hover, a:active, a:link {
        text-decoration: none;
        outline:0;
        color:#ffffff;

}

a:hover{
    text-decoration: underline !important;
}

#container {
    margin-top: 0px; /*da dove inizia il container*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height:100%;
    min-width: 600px;
    width: 80%;
    display: table;

}

header {
    margin-bottom: 20px;
    background-image: url("../img/texture/dust.png");
    background-color: #ffffff;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
        border-bottom:1px solid black;
    border-right:1px solid black;
    border-left:1px solid black;
}

nav {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    text-align: right;
    height: 40px;
    width: 100%;
    line-height:30px;
    z-index: 100;    
    
}

#nav {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    left: 10%;

    
}   
 

#nav ul {
    position:absolute;
    left:0;
    display:none;
    margin:0 0 0 -1px;
    padding:0;
    list-style:none;
    
}


#nav li {
    
    float: left;
    display:block;
    width:25%;
    height: 40px;
    
    
    position:relative;
    z-index:500;
    margin:0 3px;
    
}

/*Titoli Menu*/
#nav > li > a{
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
    font-size:18px;
}

#nav > li:hover{
    border-top:3px solid #666;
        
}

#nav li a {
    display:block;
    padding:8px 5px 0 5px;
    font-weight:700;
    height:23px;
    text-decoration:none;
    text-align:center;
    color:#000000;
    
    
}
#nav li a:hover {
    color:#C00;
}

#nav li li:hover {
    -webkit-transform: translate(+10px,0); //di quanto sposto i menu
}

#nav ul li {
    width:300px;
    float:left;
    border:1px solid #666;

    
    background-color: #ffffff;
    
}

li#firstSub{
    margin-top: 14px;
   -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li#lastSub{
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#nav ul a {
    display:block;
    height:auto;
    padding: 8px 5px;
    color:#666;
}
/* fix ie6, meglio inserirlo in un file .css separato */
*html #nav ul {
    margin:0 0 0 -2px;
}



article {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 200px;
    margin-bottom: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

section{
    overflow: hidden;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
section > div{
    width: 300px;
    position: relative;
    min-height: 300px;
    float: left;
    height: 400px;
}
div.rightPic{
    margin-left: 190px;
    min-height: 300px;
    height: 400px;
}

img.pic1{
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
}

img.pic1:hover{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

img.pic2{
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

img.pic2:hover{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

img.pic3{
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}

img.pic3:hover{
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
}

img.pic4{
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
}

img.pic4:hover{
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
}


img.pic5{
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
}

img.pic5:hover{
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

img.pic6{
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
}

img.pic6:hover{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

section div img{
    
    /*float: left;*/
    padding: 10px 10px 30px 10px;
    margin: 3px 30px 30px 5px;
    background: #eee;
    border: 1px solid #fff;
    -moz-box-shadow: 0px 2px 15px #333;
    margin-left: auto;
    margin-right:auto;
}

section div p{
    font-size: 18px;
    margin: 30px;
    
}



footer {
    text-align: center;
    color: #fff;
    font-size: 12px;
    width:100%;
    height: 70px;
    position:absolute;
    bottom:0;
    left:0;
}

footer p{
    vertical-align: middle;
    line-height: 30px;
    
}

p.picTitle{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1.5px;
}